<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Browser Security </title>

    <link type="text/css" rel="stylesheet" href="static/css/csam.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="static/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" href="static/images/favicons/favicon.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#sidebar">
    <div id="bg"></div>

    <header class="navbar navbar-full navbar-light navbar-fixed-top hidden-sm-down">
        <nav class="nav navbar-nav">
            <div class="pull-xs-left">
                <a class="nav-item nav-link" href="{{ url_for('index') }}"> Home </a>
            </div>
            <div class="pull-xs-right">
                <a class="nav-item nav-link" href="{{ url_for('passwords') }}"> Passwords </a>
                <a class="nav-item nav-link" href="{{ url_for('social_eng') }}"> Social Engineering </a>
                <a class="nav-item nav-link active" href="{{ url_for('browser') }}"> Browser Security </a>
                <a class="nav-item nav-link" href="{{ url_for('mobile') }}"> Mobile Security </a>
            </div>
        </nav>
    </header>

    <div class="container-fluid hidden-md-up p-x-0">
        <div class="row">
            <div class="card">
                <div class="card-block text-xs-center">
                    <h3> Unfortunately, this content is unable to be viewed on this resolution. Please view it on a computer or change the orientation of your tablet. </h3>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="container-fluid hidden-sm-down">
        <div class="row">
            <div class="jumbotron jumbotron-fluid col-md-12">
                <div class="container">
                    <h1 class="display-3"> Browser Security </h1>
                    <h4 class="lead"> Introduction or description of the module for people to read before they actually do it. </h4> </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="content-container" class="row">
                    <div class="col-md-2">
                        <div id="sidebar">
                            <nav>
                                <ul id="sidebar-links" class="nav nav-pills nav-stacked">
                                    <li class="nav-item"> <a class="nav-link" id="link-one" href="#cookies"> Cookies </a> </li>
                                    <hr>
                                    <li class="nav-item"> <a class="nav-link" id="link-two" href="#plugins"> Plug-Ins </a> </li>
                                    <hr>
                                    <li class="nav-item"> <a class="nav-link" id="link-three" href="#popups"> Pop-Ups </a> </li>
                                    <hr>
                                    <li class="nav-item"> <a class="nav-link" id="link-four" href="#secure_browsing"> Secure Browsing </a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div id="content" class="col-md-10">
                        <p class="card card-block card-instruction"> Instructions will look like this. </p>

                        <div class="card card-block">
                            <h3 id="cookies" class="card-title"> Cookies </h3>
                            <hr>

                            <h5> Ever notice that your ads on Facebook seem to match your recent Google searches? How does that work? </h5>

                            <img src="static/images/cookie.jpg">

                            <h5> They're using cookies to store information about you.</h5>

                            <h5> What are cookies? </h5>

                            <ul>
                                <li> A text file that stores data on your computer. </li>
                                <li> It was invented to remember information about the user, in an attempt to personalize websites. </li>
                                <li> Cookies can store saved passwords, track your browsing patterns. </li>
                            </ul>
                            <h5> What do cookies do? </h5>
                            <ul>
                                <li> Have you ever noticed ads shown on your Facebook page consistently match your recent Google searches or purchases from Amazon? </li>
                                <li> Cookies can be used to track what you buy or search in order to customize your advertising, in the hopes that you buy similar products. </li>
                                <li> They can also store information, such Amazon using cookies to store products that you've shown interest into a "shopping cart." </li>
                            </ul>
                            <h5> How can you protect yourself? </h5>
                            <ul>
                                <li> You can configure your browser settings to allow cookies only from sites you trust and disable from sites you don't. </li>
                            </ul>
                        </div>
                        <div class="card card-block">
                            <h4 id="plugins" class="card-title"> Plug-Ins </h4>
                            <hr>
                            <h5> What is a plug-in? </h5>
                            <ul>
                                <li> Applications intended for use in the web browser such as Adobe Flash. </li>
                                <li> Plug-Ins are programs, and such, are vulnerable to many of the same problems, including being poorly written or written with malicious intentions. </li>
                                <li> Vulnerabilities in plug-ins can also allow attackers to install malicious software. </li>
                            </ul>
                            <h5> How can you protect yourself? </h5>
                            <ul>
                                <li> Only install plug-ins from official sources, such as the Chrome Web Store or Firefox Addons. </li>
                                <li> Be aware that while plug-ins from official sources are safer than third-party installations, they are not completely safe. </li>
                                <li> Never install an unknown plug-in. </li>
                            </ul>

                            <p class="card card-block card-instruction">Select your favorite browser, then click on the images below to go through the steps of disabling plug-ins.</p>

                            <div class="card text-xs-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#chrome-plugins" role="tab">Chrome</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#firefox-plugins" role="tab">Firefox</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ie-plugins" role="tab">Internet Explorer</a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="chrome-plugins" role="tabpanel">
                                        <img class="p-x-1" id="chrome-extension-img" src="static/images/extensions-chrome/step1.png" onclick="changeSrc(this)">
                                    </div>
                                    <div class="tab-pane" id="firefox-plugins" role="tabpanel">
                                        <img class="p-x-1" id="firefox-extension-img" src="static/images/extensions-firefox/step1.png" onclick="changeSrc(this)">
                                    </div>
                                    <div class="tab-pane" id="ie-plugins" role="tabpanel">
                                        <img class="p-x-1" id="ie-extension-img" src="static/images/extensions-ie/step1.png" onclick="changeSrc(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-block">
                            <h4 id="popups" class="card-title"> Pop-Ups </h4>
                            <hr>
                            <h5> What is a pop-up? </h5>
                            <ul>
                                <li> Pop-ups are small windows that are automatically opened when you visit a page. </li>
                                <li> Most pop-ups are advertisements. </li>
                                <li> Pop-ups can lead to unintentional downloads or take you to sites you don't mean to go to. </li>
                                <li> Some pop-ups are 'chained,' making it difficult for you to close them, as they open another one as soon as they are closed. </li>
                            </ul>
                            <h5> How can you take control of your cookies? </h5>
                            <ul>
                                <li> By default, most browsers block pop-ups. </li>
                                <li> If, for some reason, you turn off your pop-up blocker, remember to turn it back on! </li>
                                <li> Follow the instructions specific to your browser below to configure cookies for specific sites. </li>
                            </ul>

                            <p class="card card-block card-instruction">Select your favorite browser, then click on the images below to go through the steps of disabling pop-ups.</p>
                            <div class="card text-xs-center">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#chrome-popups" role="tab">Chrome</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#firefox-popups" role="tab">Firefox</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ie-popups" role="tab">Internet Explorer</a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="chrome-popups" role="tabpanel">
                                        <img class="p-x-1" id="chrome-popups-img" src="static/images/extensions-chrome/step1.png" onclick="changeSrc(this)">
                                    </div>
                                    <div class="tab-pane" id="firefox-popups" role="tabpanel">
                                        <img class="p-x-1" id="firefox-popups-img" src="static/images/extensions-firefox/step1.png" onclick="changeSrc(this)">
                                    </div>
                                    <div class="tab-pane" id="ie-popups" role="tabpanel">
                                        <img class="p-x-1" id="ie-popups-img" src="static/images/extensions-ie/step1.png" onclick="changeSrc(this)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-block">
                            <h4 id="secure_browsing" class="card-title"> Secure Browsing </h4>
                            <hr>
                            <h5> What is HTTPS? </h5>
                            <ul class="real-list">
                                <li> HTTP (Hyper Text Transfer Protocol) is the protocol used when you connect to websites over the internet. </li>
                                <li> HTTPS is a secure version of HTTP that encrypts data, providing protection from eavesdropping and tampering. </li>
                                <li> When using a non-secure connection such as HTTP, data is sent over the network in clear text. This means that anyone on the network can view the data being sent and received. </li>
                                <li> It is important to make sure that your connection is encrypted when entering sensitive information into a website, otherwise anyone can view this information as it travels over the network.</li>
                                <li> Always make sure you are using a secure connection when shopping online. </li>
                                <li> You can tell that you are using a secured connection by the &quot;https:// &quot; prefix of your URL, or by the padlock icon. The padlock icon may vary by browser, but an example is shown below.</li>
                            </ul>
                            <img style="margin: auto;display: block;" src="/static/images/https.png">
                        </div>
                        <div class="card card-block no-border"> <a id="p-button" class="btn btn-primary btn-lg btn-block" href="{{ url_for('browser_quiz') }}" role="button"> Take the quiz! </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/csam.js"></script>
    <script src="static/js/passwordCracker.js"></script>
    <script src="static/js/jquery.scrollTo.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/scrollspy.js"></script>
    <script src="static/js/tab.js"></script>
    <script>
        $('body').scrollspy({
            target: '#sidebar',
            offset: ($(window).height() * .075)
        });
        $(document).ready(function () {
            $('#sidebar-links > li > a[href^="#"]').click(function (e) {
                e.preventDefault();
                $(window).stop(true).scrollTo(this.hash, {
                    duration: 700,
                    interrupt: true,
                    offset: -90,
                    easing: "swing"
                });
            });
        });
    </script>
</body>

</html>