<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Cyber Security Awareness Module </title>

    <link type="text/css" rel="stylesheet" href="static/css/csam.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-touch-icon-76x76.png">
    <link rel="icon" type="image/png" href="static/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" href="static/images/favicons/favicon.ico">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body onload="checkProgress()">

    <header class="navbar navbar-full navbar-light navbar-fixed-top hidden-sm-down">
        <nav class="nav navbar-nav">
            <div class="pull-xs-left">
                <a class="nav-item nav-link active" href="{{ url_for('index') }}"> Home </a>
            </div>
            <div class="pull-xs-right">
                <a class="nav-item nav-link" href="{{ url_for('passwords') }}"> Passwords </a>
                <a class="nav-item nav-link" href="{{ url_for('social_eng') }}"> Social Engineering </a>
                <a class="nav-item nav-link" href="{{ url_for('browser') }}"> Browser Security </a>
                <a class="nav-item nav-link" href="{{ url_for('mobile') }}"> Mobile Security </a>
            </div>
        </nav>
    </header>

    <div class="container-fluid hidden-md-up p-x-0">
        <div class="row">
            <div class="card">
                <div class="card-block text-xs-center">
                    <h3> Unfortunately, this content is unable to be viewed on this resolution. Please view it on a computer or change the orientation of your tablet. </h3>
                </div>
            </div>
        </div>
    </div>

    <div id="main" class="container-fluid hidden-sm-down">
        <div class="row">
            <div class="jumbotron jumbotron-fluid col-md-12 m-b-1">
                <div class="container">
                    <h1 class="display-3"> Cybersecurity Awareness </h1>
                    <h4 class="lead"> Learn about passwords, protect yourself from social engineering, and get familiar with the basics of web security! </h4>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row flex-items-xs-center">
                <div class="col-xl-6 col-lg-12">
                    <div id="p-card" class="card card-link transition">
                        <a href="{{ url_for('passwords') }}">

                            <div class="row">
                                <div class="col-sm-4" style="position: relative; width: 100%;">
                                    <img class="img-link" src="static/images/Password-security.jpg"></img>
                                </div>

                                <div class="col-sm-8 card-block">
                                    <h4 id="p-title" class="transition"> Passwords </h4>
                                    <p> Think of how many passwords you use on a daily basis. Now think about what could happen if someone else had them. </p>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div id="se-card" class="card card-link transition">
                        <a href="{{ url_for('social_eng') }}">

                            <div class="row">
                                <div class="col-sm-4" style="position: relative; width: 100%;">
                                    <img class="img-link" src="static/images/social_engineering_dataroom_advice.jpg"></img>
                                </div>

                                <div class="col-sm-8 card-block">
                                    <h4 id="se-title"> Social Engineering </h4>
                                    <p> Computers are only as secure as their users are. You are the biggest vulnerability. </p>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div id="bs-card" class="card card-link transition">
                        <a href="{{ url_for('browser') }}">

                            <div class="row">
                                <div class="col-sm-4" style="position: relative; width: 100%;">
                                    <img class="img-link" src="static/images/browser-security-extensions.jpg"></img>
                                </div>

                                <div class="col-sm-8 card-block">
                                    <h4 id="bs-title"> Browser Security </h4>
                                    <p> A securely configured browser is the first line of defence. </p>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div id="ms-card" class="card card-link transition">
                        <a href="{{ url_for('mobile') }}">

                            <div class="row">
                                <div class="col-sm-4" style="position: relative; width: 100%;">
                                    <img class="img-link" src="static/images/mobile%20security.jpg"></img>
                                </div>

                                <div class="col-sm-8 card-block">
                                    <h4 id="ms-title"> Mobile Security </h4>
                                    <p> Description for module. </p>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/csam.js"></script>
</body>

</html>