<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Search</title>
</head>
<body style="background-color:#00233E">
  <form style="width:20%; padding:20px; margin-left:auto; margin-right:auto;" method="POST">
    <fieldset class="form-group">
      <input name="firstname" type="text" class="form-control" placeholder="First Name" required>
    </fieldset>
    <fieldset class="form-group">
      <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>
    </fieldset>
    <input id="sub" class="btn btn-default" value="Submit" type="submit"></form>
  </form>
  <div id="resultbox" class="table-responsive" style="overflow: auto; width:70%; height:340px; margin-left:auto; margin-right:auto;border-radius: 5px; padding: 0px; background-color:white;">
  <table class="table table-hover" style="">
  {% for dict_item in data %}
    <tr>
   <td>Name: </td><td>{{dict_item['name']}}</td>
    </tr>
   <tr>
   <td>DOB: </td><td>{{dict_item['dob']}}</td>
   </tr>
   <tr>
   <td>Age: </td><td>{{dict_item['age']}}</td>
   </tr>
   <tr>
   <td>Locations: </td><td>{{', '.join(dict_item['locations'])}}</td>
   </tr>
   <tr>
   <td>Marital Status: </td><td>{{dict_item['includes']['marital_status']}}</td>
   </tr>
   <tr>
   <td>Relatives: </td><td>{{', '.join(dict_item['relatives'])}}</td>
   </tr>
   <tr>
   <td>Aliases: </td><td>{{', '.join(dict_item['aliases'])}}</td>
   </tr>
   <tr bgcolor="#FFFFFF"; height="30px;"></tr>

  {% endfor %}
</table>
</div>
</div>
</body>
</html>

